@using static QuickBlazorUI.Shared.NavMenuSide
@inherits LayoutComponentBase


<PageTitle>BlazorTailwindDefault1</PageTitle>

<div class="flex flex-col sm:flex-row w-screen h-screen">
    <NavMenuSide MenuItems="menuitems" />

    <main class="bg-main w-full ">
        <!--logout, user info etc -->
        <header class="bg-link hidden sm:flex h-14 justify-end">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank" class="text-main underline self-center mr-6 ">About</a>
        </header>

        <!-- work area -->
        <section class="m-4">
            @Body
        </section>
    </main>
</div>

@code {
    private List<BaseMenuItem> menuitems = new();

    private string burgerStyle = "hidden";
    private int menuIndex = 1;

    protected override async Task OnInitializedAsync()
    {
        BaseMenuItem item = new();
        item.Name = "Home";
        item.Page = "/";
        item.Order = 1;
        item.IconName = "home";
        menuitems!.Add(item);

        item = new();
        item.Name = "Counter";
        item.Page = "/counter";
        item.Order = 2;
        item.IconName = "plus";
        menuitems.Add(item);

        item = new();
        item.Name = "Fetch Name";
        item.Page = "/fetchdata";
        item.Order = 3;
        item.IconName = "list";
        menuitems.Add(item);
        await Task.CompletedTask;
    }

    //handle the burger clicks
    private void BurgerClick()
    {
        if (string.IsNullOrEmpty(burgerStyle))
        {
            burgerStyle = "hidden";
        }
        else
        {
            burgerStyle = "";
        }
    }

    //handle the link nav and style
    private void SetMenu(int index)
    {
        menuIndex = index;
    }
}
