@inherits LayoutComponentBase

<div class="flex flex-col h-full bg-secondary-100 dark:bg-secondary-800 dark:bg-secondary-800 dark:text-main overflow-x-hidden">
    <NavMenuTop />

    @Body
</div>